{
  "extends": [
    "prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "prettier/prettier": [
      "error"
    ]
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
